doctype html
html
  head
    title= `${title}`
    //- <!-- Add icon library -->
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //- 
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/styles.css' type='text/css')
    script(src='./routes/main.js')
    //- HTML head
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href="images/hello-icon-152.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="white")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="Hello World")
    meta(name="msapplication-TileImage" content="images/hello-icon-144.png")
    meta(name="msapplication-TileColor" content="#FFFFFF")

  body
    div.container.listing-reg
      //- h1 My Amazing App

      block content