-user = user || {}

if errors
    ul.my-errors
        for error in errors
            li= error.msg

h3 Incorrect Username and Password Combination!
a.w-100.btn.btn-primary.mt-3(href="/register") Try Again